{% include "badge/navbar.html" %}
<form action="{% url 'complete_task' task.id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>
      <h1>{{ task.name }}</h1>
    </legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div>
      <div>Responsible: {{ task.responsible }}</div>
      <div>
        <label>Completed: </label>
        {% if task.is_completed %}
        <input id="isCompleted" type="checkbox" name="is_completed" checked="" />
        {% else %}
        <input id="isCompleted" type="checkbox" name="is_completed" />
        {% endif %}
      </div>
      <div>Description:</div>
      <pre>{{ task.description }}</pre>
    </div>
  </fieldset>
</form>
<script>
  (function () {
    isCompletedInput = document.getElementById('isCompleted')
    form = document.getElementsByTagName('form')[0]
    isCompletedInput.addEventListener('change', (e) => {
      form.submit()
    })
  })();
</script>